{% extends "base.html" %}
{% block header %}
<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span>X</span>AIC</a>
        </div>
        <div class="navbar-collapse collapse ">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
                {% if subMenuDict is None %}
                {% with subMenuDict as model.subMenuDict %}
                {% for key, value in subMenuDict.items %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">{{key}}<b class=" icon-angle-down"></b></a>
                    <ul class="dropdown-menu">
                        {% for subMenu in value %}
                        {% with subMenu.titleen|lower as urlvar %}
                        <li><a href ="{% url urlvar %}">{{subMenu.titleen}}</a></li>
                        {% endwith %}
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
                {% endwith %}

                {% else %}
                {% for key, value in subMenuDict.items %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">{{key}}<b class=" icon-angle-down"></b></a>
                    <ul class="dropdown-menu">
                        {% for subMenu in value %}
                        {% with subMenu.titleen|lower as urlvar %}
                        <li><a href ="{% url urlvar %}">{{subMenu.titleen}}</a></li>
                        {% endwith %}
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
                {% endif %}
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock header %}
{% block content %}
	<section id="featured">
	<!-- start slider -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="/static/img/main/1.jpg" alt="" />
                <div class="flex-caption">
                   	<div class="cta-text">
						<h2><span>Explainable</span> Artificial Intelligence(XAI)</h2>
						<p>
							The goal is to create a suite of new or modified machine learning techniques that produce explainable models that, when combined with effective explanation techniques, enable and users to understand, appropriately trust, and effectively manage the emerging generation of Artificial Intelligence(AI) systems.
						</p>
					</div>
                </div>
              </li>
              <li>
                <img src="/static/img/main/2.jpg" alt="" />
              </li>
            </ul>
        </div>
	<!-- end slider -->
			</div>
		</div>
	</div>
	</section>
<!--<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="big-cta">
					<div class="cta-text">
						<h2><span>Explainable</span> Artificial Intelligence(XAI)</h2>
						<div>
							The goal is to create a suite of new or modified machine learning techniques<br>
							that produce explainable models that, when combined with effective explanation techniques, enable<br>
							and users to understand, appropriately trust, and effectively<br>
							manage the emerging generation of Artificial Intelligence(AI) systems.<br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section> -->
	<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter">
								<h4>Explainable Time Series</h4>
								<img src="static/img/part/part1.png" alt="" />
							</div>
							<div class="box-bottom">
								<a href="http://saildemo.unist.ac.kr/automatic_statistician/">Learn more</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter">
								<h4>OneShot/ZeroShot</h4>
								<img src="/static/img/part/part2.png" alt="" />
							</div>
							<div class="box-bottom">
								<a href="https://www.ku-milab.org/">Learn more</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter">
								<h4>Explainable Interface</h4>
								<img src="/static/img/part/part3.png" alt="" />
							</div>
							<div class="box-bottom">
								<a href="https://www.aitrics.com/">Learn more</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter">
								<h4>Precision Medicine</h4>
								<img src="/static/img/part/part4.png" alt="" />
							</div>
							<div class="box-bottom">
								<a href="https://www.aitrics.com/">Learn more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- divider -->
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->
	</div>
	</section>
{% endblock content %}
{% block script %}
{% endblock script %}
</body>
</html>