{% extends "web/index.html" %}
{% block content %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>News Title</th>
      <th>Writer</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {% for news in news_list %}
      <tr>
          <td><a hreaf="{% url 'news_detail' pk=news.id%}">{{ news.titleen }}</a></td>
          <td>{{ news.writer }}</td>
          <td>{{ news.date }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if is_paginated %}
  <ul class="pagination">
    {% if news_list.has_previous %}
      <li><a href="?page={{ news_list.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if news_list.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if news_list.has_next %}
      <li><a href="?page={{ news_list.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock content %}
{% block script %}
{% endblock script %}